<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ .Site.Params.marketing.seo.description }}">
  <meta name="google-site-verification" content="FeJvLStKB7jkr4b03WCWTCO4SAAvJuoQijZMWMuRv1Y" />
  
  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ .Params.marketing.seo.description }}" />
  <meta property="og:image" content="{{ .Site.Params.homepage_featured_image }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ .Params.marketing.seo.description }}" />
  <meta name="twitter:image" content="{{ .Params.homepage_featured_image }}" />

  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <title>{{ .Title }} - {{ .Site.Title }}</title>
  
  {{ partial "meta.html" . }}
  {{- if .Site.Params.marketing.analytics.google_analytics -}}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.marketing.analytics.google_analytics }}"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ .Site.Params.marketing.analytics.google_analytics }}');
  </script>
  {{- end }}
</head>
